<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.furyou.omisechallenge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/omise_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/omise_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CharityListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CharityDonationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="co.omise.android.ui.CreditCardActivity"
            android:theme="@style/OmiseSDKTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TransactionStatusActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>